<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sferadev.lolbird">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name= "com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <uses-library
            android:name="com.lge.app.floating"
            android:required="false"/>

        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true" />

        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
            android:value="true" />

        <!-- Easter Egg Activity For non LG -->
        <activity
            android:name="com.sferadev.lolbird.EggActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:screenOrientation="locked"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Easter Egg Activity For LG -->
        <activity
            android:name="com.sferadev.lolbird.LGEggActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:screenOrientation="locked"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Easter Egg Alias to be found by QSlide -->
        <activity-alias
            android:name="LGEgg"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity="com.sferadev.lolbird.LGEggActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.lge.intent.category.QSLIDE" />
            </intent-filter>
            <meta-data android:value="false" android:name="cleartask"/>
            <meta-data android:value="2.5" android:name="min version"/>
        </activity-alias>

        <!-- Service for QSlide -->
        <service
            android:name="com.lge.app.floating.FloatingWindowService" />
    </application>
</manifest>
